@import "breakpoint-helpers"
@import "colors"

.grid-item
  background-color: $colorblind-item
  border-radius: 3px
  width: 240px
  margin-bottom: 10px
  padding: 5px
  box-sizing: border-box
  height: 200px
  //box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25)
  transition: 0.18s ease-in-out
  //animation: FadeIn 0.22s
  overflow: hidden
  position: relative


.service-wrapper-inner
  height: 100%
  width: 90%
  position: absolute
  z-index: 1
  top: 68%
  padding: 15px 20px
  transition: 0.2s ease
  p
    color: #e7e7e7

  &.notitle
    width: 60%
    top: 70%

.service-overlay
  background-color: rgba(32,32,32,0.4)
  width: 120%
  height: 120%
  position: absolute
  top: 80%
  left: -28px
  z-index: 0
  transition: 0.2s ease

  &.notitle
    -webkit-transform: rotate(35deg)
    -moz-transform: rotate(35deg)
    -ms-transform: rotate(35deg)
    -o-transform: rotate(35deg)
    left: -65%
    height: 300%

  &.title
    -webkit-transform: rotate(10deg)
    -moz-transform: rotate(10deg)
    -ms-transform: rotate(10deg)
    -o-transform: rotate(10deg)



.grid-item:hover
  .service-wrapper-inner
    top: -10%
    padding: 20px 20px

    &.notitle
      padding: 15px 20px

  .service-overlay
    top: -10%
    background-color: rgba(32,32,32,0.8)

    &.notitle
      top: -20%
      left: -20%


.grid
  margin: 0 auto
  transition: .2s all

.grid-item--tall3
  height: 300px

.grid-item--tall4
  height: 400px


.grid-item--width2
  background-color: #81d4fa
  width: 490px

.grid-item--image
  width: fit-content
  height: fit-content

@include respond-below(xs)
  .grid-item--width2
    width: 100%


.blur-me
  filter: grayscale(15%) blur(0.5px) brightness(100%)
  opacity: .8
  //transform: scale(.995)
  box-shadow: none


.unblur-me
  filter: grayscale(0%) blur(0px) brightness(100%)
  opacity: 1
  //transform: scale(.995)
  box-shadow: none

.grid:hover .grid-item:hover
  //transform: scale(1.005)
  opacity: 1
  //box-shadow: 0 8px 20px 0px rgba(0,0,0,0.125)
  //filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3))


//.grid-img
//  display: inline-block
//  position: relative
//  width: 230px
//  height: 230px
//
//.grid-img:after
//  content: ""
//  position: absolute
//  z-index: -1
//  top: 0
//  left: 0
//  width: 100%
//  height: 100%
//  opacity: 0
//  filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.125))
//  transition: opacity 0.3s ease-in-out
//
///* Transition to showing the bigger shadow on hover */
//.grid-img:hover:after
//  opacity: 1
