header {
  display: flex;
  flex-direction: row;

  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #84B7DB;
  font-family: "Fira Code", monospace;

  h1 {
    font-weight: 600;
    margin: 0 0 0 5px;
  }

  .headerLinks {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;

    h2 {
      margin: 0;
      border-radius: 5px;
      line-height: normal;

      &:hover {
        background: #ddd;
      }

      &.active {
        background-color: #4CAF50;
        color: white;
      }
    }

    h2:last-of-type {
      margin-right: 5px;
    }
  }

  /* Hide the link that should open and close the topnav on small screens */
  .icon {
    display: none;
  }

  @media screen and (max-width: 660px) {
    h2 {
      display: none;
    }

    .icon {
      margin-left: auto;
      display: block;
      position: absolute;
      top: 19px;
      right: 24px;
      font-size: 30px;
      border: none;
    }

    .headerLinks {
      visibility: hidden;
      transition: visibility 0s, opacity 0.5s linear;
    }
  }

  @media screen and (max-width: 660px) {
    &.responsive {
      display: block;

      .headerLinks {
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      h1 {
        text-align: left;
      }

      h2 {
        display: block;
        margin-left: 5px;
      }
    }
  }
}
