:root {
  --text: white;
  --background: #1f2022;
  --about-me: #F1F1F1;
  --grid-background: var(--background);
  --grid-header-background: var(--background);
  --grid-header-text: #F1F1F1;
  --grid-element-background: hsl(218, 24%, 25%);
  --grid-element-border: #6f6f6f;
  --grid-element-shadow: rgba(255, 255, 255, 0.3);
  --grid-element-header: rgb(169 162 228 / 100%);
  --grid-element-subheader: darkgrey;
  --chainlink-icon-background: rgba(43, 43, 43, 0.3);
  --chainlink-icon-color: var(--grid-element-subheader);
  --link-color: var(--grid-element-header);
}


//:root {
//  --text: black;
//  --background: #FFFFFF;
//  --header: #55CDFC;
//  --footer: #55CDFC;
//  --about-me: #F7A8B8;
//  --grid-background: #F7A8B8;
//  --grid-header-background: #55CDFC;
//  --grid-header-text: black;
//  --grid-element-background: #FFFFFF;
//  --grid-element-border: var(--grid-element-background);
//  --chainlink-icon-background: rgba(224, 255, 255, 0.7);
//  --link-color: grey;
//  --grid-element-subheader: #F7A8B8;
//}
