:root {
  --text: black;
  --background: #2A363B;
  --header: #84B7DB;
  --about-me: #F1F1F1;
  --grid-background: #FECEA8;
  --grid-header-background: #1C1C1c;
  --grid-header-text: #F1F1F1;
  --grid-element-background: #F1F1F1;
  --link-icon-background: rgba(224, 255, 255, 0.7);
}
