:root {
  --text: black;
  --background: #FDFFFC;
  --header: #84B7DB;
  --footer: var(--header);
  --about-me: #FDFFFC;
  --grid-background: #E4F5DC;
  --grid-header-background: #A4ABA1;
  --grid-header-text: #black;
  --grid-element-background: #FDFFFC;
  --chainlink-icon-background: rgba(224, 255, 255, 0.7);
 --link-color: #9D18DB;
 --grid-element-subheader: #CAABD9;
}

//:root {
//  --text: black;
//  --background: #FFFFFF;
//  --header: #55CDFC;
//  --footer: #55CDFC;
//  --about-me: #F7A8B8;
//  --grid-background: #F7A8B8;
//  --grid-header-background: #55CDFC;
//  --grid-header-text: black;
//  --grid-element-background: #FFFFFF;
//  --chainlink-icon-background: rgba(224, 255, 255, 0.7);
//  --link-color: grey;
//  --grid-element-subheader: #F7A8B8;
//}
