#about-me-parent {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  b {
    font-weight: 500;
  }

  .about-me-card {
    background: var(--about-me);
    border-radius: 5px;
    margin: 0 5px 0;
    padding: 10px;
    width: fit-content;
  }

  #about-me {
    background: var(--about-me);
    border-radius: 5px;
    padding: 15px;
    width: fit-content;

    #info-parent {
      display: flex;
      flex-direction: row;

      #specific-info {
        flex: 1 1 0;
      }

      #fun-info {
        flex: 1 1 0;
      }

      @media screen and (max-width: 660px) {
        flex-direction: column;
      }
    }

    h1 {
      font-family: "Fira Code", monospace;
      font-weight: 500;
    }

    h2 {
      font-family: "Fira Code", monospace;
      line-height: normal;
      margin-bottom: 0;
      font-weight: 400;

      text-align: left;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      margin: 0;
    }

    ul {
      text-align: left;
      padding-left: 40px;
      margin-bottom: 0;
    }

    li {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      list-style-type: symbols("+");
      list-style-position: inside;

    }
  }

}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--link-color);
  cursor: pointer;
}

a {
  color: var(--link-color);
}
